<!--
  Generated template for the Listing page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar color="primary">
    <ion-title>Listing</ion-title>
  </ion-navbar>

</ion-header>

<ion-content padding>
    <ion-list>
        <!--<ion-item [hidden]="(Pupils == null || Caterers == null || Farmers == null)" text-center> No Pending Records </ion-item>-->
        <ion-list-header [hidden]="!Pupils">
            PUPILS
        </ion-list-header>
        <ion-item [hidden]="!Pupils" *ngFor="let student of Pupils">
            <ion-avatar item-start>
                <img [src]="student.passport != null ? convert(student.passport) : 'assets/img/avatar-placeholder.png'">
            </ion-avatar>
            <h2>{{student.surname +  ' ' + student.firstname}}</h2>
        </ion-item>
        <ion-list-header [hidden]="!Caterers">
            CATERERS
        </ion-list-header>
        <ion-item [hidden]="!Caterers" *ngFor="let caterer of Caterers">
            <ion-avatar item-start>
                <img [src]="(caterer.passport != null && convert(caterer.passport) != 'assets/img/avatar-placeholder.png') ? caterer.passport : 'assets/img/caterer.jpg'">
            </ion-avatar>
            <h2>{{caterer.fullname}}</h2>
        </ion-item>
        <ion-list-header [hidden]="!Farmers">
            FARMERS
        </ion-list-header>
        <ion-item [hidden]="!Farmers" *ngFor="let farmer of Farmers">
            <ion-avatar item-start>
                <img [src]="(farmer.passport != null && convert(farmer.passport) != 'assets/img/avatar-placeholder.png') ? farmer.passport : 'assets/img/caterer.jpg'">
            </ion-avatar>
            <h2>{{farmer.fullname}}</h2>
        </ion-item>
  </ion-list>
</ion-content>
