<!--
  Generated template for the Login page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<!--<ion-header>

  <ion-navbar>
    <ion-title>Login</ion-title>
  </ion-navbar>

</ion-header>-->


<ion-content padding style="background: url('assets/img/bg.jpg') no-repeat center center; background-position: contain;">
      <ion-grid>
          <ion-row style="margin-top: 90px;">
            <ion-col col-12 text-center style="font-size: 25px; color: #fff; font-family: Trebuchet MS;">
              <b>National Home-Grown School Feeding Programme</b>
            </ion-col>
          </ion-row>
</ion-grid>
<ion-list style="margin-top: 75px; ">
     <ion-item style="background: none!important; border: 1px solid #fff;padding:0px;border-left: none;border: none; border-bottom: none!important;">
       <ion-label style="margin: 0px;height: 50px; border-top: none;border:blue;border-bottom: none!important;">
         <ion-icon style="background-color: #286d2c; color: #FFFFFF; height: 100%; margin: 0px; padding-top: 10px;padding-left: 20px;width: 54px; font-size: 27px;" name="ios-person-outline"></ion-icon></ion-label>
       <ion-input [(ngModel)] = "LoginInputModel.email" type="text" value="" style="color: #FFFFFF;border: 1px solid white;border-left:none;height: 50px;">
           
       </ion-input>
     </ion-item>
     <ion-item style="background: none!important; border: 1px solid #fff;padding:0px;border-left: none;border: none; margin-top: 13px;">
       <ion-label style="margin: 0px;height: 50px; border-top: none;border:blue;">
         <ion-icon style="background-color: #286d2c; color: #FFFFFF; height: 100%; margin: 0px; padding-top: 10px;padding-left: 20px;width: 54px; font-size: 27px;" name="ios-lock-outline"></ion-icon></ion-label>
       <ion-input [(ngModel)] = "LoginInputModel.password" type="password" value="" style="color: #FFFFFF;border: 1px solid white;border-left:none;height: 50px;">
       </ion-input>
     </ion-item>
       </ion-list>
       <ion-grid>
         <ion-row style="margin-top: 22px;" no-padding>
            <ion-col col-1></ion-col>
            <ion-col col-10>
                <button (click) = "LogIn()" ion-button block outline color="light">Login</button>
            </ion-col>
            <ion-col col-1></ion-col>
         </ion-row>
        <!--ion-row>
            <ion-col col-1></ion-col>
            <ion-col col-9 ><button ion-button (click) ="Register()" clear>New Here? Create an account > </button></ion-col>
            <ion-col col-2></ion-col>
          </ion-row-->
       </ion-grid>
</ion-content>
