<!--
  Generated template for the Photo page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar color="primary">
    <ion-title>Add Pupil</ion-title>
     <!--ion-buttons end>
        <button (click) = "Add()" ion-button icon-only>
            <ion-icon name="camera"></ion-icon>
        </button>
        <button (click) = "Contractors()" ion-button icon-only>
          <ion-icon name="contacts"></ion-icon>
          </button>
     </ion-buttons-->
  </ion-navbar>

</ion-header>

<ion-content padding>
  <ion-grid>
          <ion-row style="margin-top: 50px;">
              <ion-col col-2></ion-col>
              <ion-col col-8 text-center>
                    <img style="border-radius: 8px;height: 150px !important;" [src]="base64Image" *ngIf="base64Image">
              </ion-col>
              <ion-col col-2></ion-col>
          </ion-row>
          <ion-row style="margin-top: 60px;">
              <ion-col col-4></ion-col>
              <ion-col col-6>
                  <button (click)="Photo()"  ion-button icon-only outline style="color: #286d2c;">
                       <ion-icon name="camera"></ion-icon>
                  </button>
                  <button (click)="Gallery()" ion-button icon-only outline style="color: #286d2c;">
                       <ion-icon name="folder"></ion-icon>
                  </button>
              </ion-col>
              <ion-col col-1></ion-col>
          </ion-row>
          <!--ion-row text-center style="margin-top: 20px; color: #286d2c;">
              <ion-col col-12>
                <button (click)="AddPhotoToPupilDetails()" ion-button>Add Photo</button>
              </ion-col>
          </ion-row-->
</ion-grid>
   <ion-list>
     <ion-item style="margin-top: 8px;">
        <ion-label stacked>Senatorial District</ion-label>
        <ion-select (ionChange)="DistrictChange()" [(ngModel)]="Selected.DistrictId">
          <ion-option *ngFor="let district of SenatorialList" [value]="district.id">{{district.name}}</ion-option>
        </ion-select>
      </ion-item>
      <ion-item style="margin-top: 8px;">
        <ion-label stacked>LGA</ion-label>
        <ion-select (ionChange)="LGAChange()" [(ngModel)]="Selected.LGAId">
          <ion-option *ngFor="let lga of LGAList" [value]="lga.id">{{lga.name}}</ion-option>
        </ion-select>
      </ion-item>
      <ion-item style="margin-top: 8px;">
        <ion-label stacked>Wards</ion-label>
        <ion-select (ionChange)="WardChange()" [(ngModel)]="Selected.WardId">
          <ion-option *ngFor="let ward of WardList" [value]="ward.id">{{ward.name}}</ion-option>
        </ion-select>
      </ion-item>
      <ion-item style="margin-top: 8px;">
        <ion-label stacked>Schools</ion-label>
        <ion-select (ionChange)="SchoolChange()" [(ngModel)]="Selected.SchoolId">
          <ion-option *ngFor="let school of SchoolList" [value]="school.id">{{school.name}}</ion-option>
        </ion-select>
      </ion-item>
      <ion-item>
        <ion-label stacked>Surname</ion-label>
        <ion-input type="text" [(ngModel)]="Student.surname"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label stacked>First Name</ion-label>
        <ion-input type="text" [(ngModel)]="Student.firstname"></ion-input>
      </ion-item>
       <ion-item>
        <ion-label stacked>Other Names</ion-label>
        <ion-input type="text" [(ngModel)]="Student.othernames"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label stacked>Date Of Birth</ion-label>
        <ion-datetime displayFormat="MM/DD/YYYY" [(ngModel)]="Student.dob"></ion-datetime>
      </ion-item>
      <ion-item style="margin-top: 8px;">
        <ion-label stacked>Gender</ion-label>
        <ion-select [(ngModel)]="Student.gender">
          <ion-option value="male">Male</ion-option>
          <ion-option value="female">Female</ion-option>
        </ion-select>
      </ion-item>
      <ion-item>
        <ion-label stacked>Parent Name</ion-label>
        <ion-input type="text" [(ngModel)]="Student.parentname"></ion-input>
      </ion-item>
      <ion-item style="margin-top: 8px;">
        <ion-label stacked>Vulnerability</ion-label>
        <ion-select (ionChange)="VulnerabilityChange()" [(ngModel)]="Student.vulnerability_status">
          <ion-option *ngFor="let vulnerability of VulnerabilityList" [value]="vulnerability.id">{{vulnerability.vulnerability_status}}</ion-option>
        </ion-select>
      </ion-item>
      <ion-item>
        <ion-label stacked>Phone Number</ion-label>
        <ion-input type="tel" [(ngModel)]="Student.phone"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label stacked>Email</ion-label>
        <ion-input type="email" [(ngModel)]="Student.email"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label stacked>Address</ion-label>
        <ion-input type="text" [(ngModel)]="Student.address"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label stacked>Height</ion-label>
        <ion-input type="number" [(ngModel)]="Student.height"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label stacked>Weight</ion-label>
        <ion-input type="number" [(ngModel)]="Student.weight"></ion-input>
      </ion-item>
       <ion-item style="margin-top: 8px;">
        <ion-label stacked>Class</ion-label>
        <ion-select [(ngModel)]="Student.class">
          <ion-option>Primary 1</ion-option>
          <ion-option>Primary 2</ion-option>
          <ion-option>Primary 3</ion-option>
          <ion-option>Primary 4</ion-option>
          <ion-option>Primary 5</ion-option>
          <ion-option>Primary 6</ion-option>
        </ion-select>
      </ion-item>
      <ion-item>
        <ion-label stacked>Head Teacher Name</ion-label>
        <ion-input [(ngModel)]="Student.head_teacher" type="text"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label stacked>Health Care Center</ion-label>
        <ion-input type="text" [(ngModel)]="Student.health_care"></ion-input>
      </ion-item>
      
     <!--button ion-button block style=" margin-top: 20px;" (click)="Submit()">Submit</button-->
     <button ion-button block style=" margin-top: 20px;" (click)="AddPupil()">Add</button>
  </ion-list>
</ion-content>
