<!--
  Generated template for the Register page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar color="primary">
    <ion-title>Register</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
    <ion-list>
      <ion-item>
        <ion-label floating>Surname</ion-label>
        <ion-input type="text"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label floating>Firstname</ion-label>
        <ion-input type="text"></ion-input>
      </ion-item>
       <ion-item>
        <ion-label floating>Othername</ion-label>
        <ion-input type="text"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label>Gender</ion-label>
        <ion-select>
          <ion-option value="male">Male</ion-option>
          <ion-option value="female">Female</ion-option>
        </ion-select>
      </ion-item>
      <ion-item>
        <ion-label>Class</ion-label>
        <ion-select>
          <ion-option value="1">Basic 1</ion-option>
          <ion-option value="2">Basic 2</ion-option>
           <ion-option value="3">Basic 3</ion-option>
          <ion-option value="4">Basic 4</ion-option>
           <ion-option value="5">Basic 5</ion-option>
          <ion-option value="6">Basic 6</ion-option>
        </ion-select>
      </ion-item>
       <ion-item>
        <ion-label floating>Guardian Name</ion-label>
        <ion-input type="text"></ion-input>
      </ion-item>
       <ion-item>
        <ion-label floating>Address</ion-label>
        <ion-input type="text"></ion-input>
      </ion-item>
       <ion-item>
        <ion-label floating>Phone</ion-label>
        <ion-input type="text"></ion-input>
      </ion-item>
     <button ion-button block style=" margin-top: 20px;">Register</button>

</ion-list>
</ion-content>
