<ion-tabs tabsPlacement="top">
  <ion-tab [root]="dashboardRoot" tabTitle="Dashboard" tabIcon="ios-people"></ion-tab>
  <ion-tab [root]="pupilRoot" tabTitle="Pupil" tabIcon="ios-people"></ion-tab>
  <ion-tab [root]="catererRoot" tabTitle="Caterer" tabIcon="person-add"></ion-tab>
  <ion-tab [root]="farmerRoot" tabTitle="Farmer" tabIcon="ios-leaf"></ion-tab>
  <ion-tab [root]="listingRoot" tabTitle="Pending" tabIcon="ios-link"></ion-tab>
</ion-tabs>
