<!--
  Generated template for the DashboardPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar color="primary">
    <ion-title>Dashboard</ion-title>
  </ion-navbar>

</ion-header>


<ion-content>
     <ion-grid style="margin: 0px !important; padding: 0px !important;">
            <ion-row style="margin: 0px !important; height: 190px;background: url('./assets/img/green_pasture.jpeg') center center no-repeat; background-size: cover;">
            <ion-row>
              
            </ion-row>
            <ion-col col-12>
                <ion-grid style="margin-top: 60px;">
                    <ion-row class="row">
                        
                        <ion-col col-2> 
                            <button clear color="light" icon-only ion-button></button>
                        </ion-col>
                        
                        <ion-col col-9 style="font-family: Tahoma; font-size: 23px;color:white;">
                            {{UserDetails.FirstName + " " + UserDetails.LastName}}
                          <p style="font-size: 14px;font-family: Tahoma;margin: 0px !important;color: antiquewhite;">
                            {{UserDetails.Email}}
                          </p>
                        </ion-col>
                    </ion-row>
                    <ion-row class="row" style="margin-top: 6px;">
                        <ion-col class="col" col-3=""></ion-col>
                        <ion-col class="col" col-3=""></ion-col>
                        <ion-col class="col" col-4=""></ion-col>
                        <ion-col class="col" col-2="" style="font-family: Tahoma;color: white;">
                            {{UserDetails.State}} State
                        </ion-col>
                    </ion-row>
                </ion-grid>
            </ion-col>
            </ion-row>
            <ion-row class="row">
                <ion-col col-6 ion-button style="height: 145px;background-color:#f55e8d;border-radius:0px !important; padding-top: 7px; padding-left: 10px;">
                    <ion-icon name="ios-people" style="font-size: 60px; color: white;"></ion-icon>
                   <div style="position: absolute;margin-top: 40px;">
                        <p style="font-family: Tahoma; text-transform: none;">{{UserDetails.PupilCount}} Pupil{{UserDetails.PupilCount > 1 ? "s" : ""}}</p>
                   </div>
                </ion-col>
                <ion-col col-6 ion-button style="height: 145px;background-color:#9b41e0;border-radius:0px !important;; padding-top: 7px; padding-left: 10px;">
                   <ion-icon name="person-add" style="font-size: 60px; color: white;"></ion-icon> 
                   <div style="position: absolute;margin-top: 40px;">
                        <p style="font-family: Tahoma; text-transform: none;">{{UserDetails.CatererCount}} Caterer{{UserDetails.CatererCount > 1 ? "s" : ""}}</p>
                   </div> 
                </ion-col>
                <ion-col  col-6 ion-button style="height: 145px;background-color:#fec007;border-radius:0px !important;; padding-top: 7px; padding-left: 10px;">
                    <ion-icon name="ios-leaf" style="font-size: 60px; color: white;"></ion-icon>
                    <div style="position: absolute;margin-top: 40px;">
                        <p style="font-family: Tahoma; text-transform: none;">{{UserDetails.FarmerCount}} Farmer{{UserDetails.FarmerCount > 1 ? "s" : ""}}</p>
                   </div>
                </ion-col>
                <ion-col col-6 ion-button (click)="LogOut()" style="height: 145px;background-color:#0f78c1;border-radius:0px !important;; padding-top: 7px; padding-left: 10px;">
                    <ion-icon name="ios-link" style="font-size: 60px; color: white;"></ion-icon>
                    <div style="position: absolute;margin-top: 40px;">
                        <p style="font-family: Tahoma; text-transform: none;">Log Out</p>
                   </div>
                </ion-col>
            </ion-row>
        </ion-grid>
</ion-content>
