<!--
  Generated template for the Contractors page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar color="primary">
    <ion-title>Contractors</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>
    <ion-list>
      <ion-item>
        <ion-thumbnail item-start>
          <img src="assets/img/img2.jpg">
        </ion-thumbnail>
        <h2>Food Network</h2>
        <p>Snacks + Meal + Vegetables</p>
        <button ion-button clear item-end>Add</button>
      </ion-item>
      <ion-item>
        <ion-thumbnail item-start>
          <img src="assets/img/img3.jpg">
        </ion-thumbnail>
        <h2>Food Community</h2>
        <p>Snacks & Meal</p>
        <button ion-button clear item-end>Add</button>
      </ion-item>
      <ion-item>
        <ion-thumbnail item-start>
          <img src="assets/img/img4.png">
        </ion-thumbnail>
        <h2>Food</h2>
        <p>Snacks & Meal</p>
        <button ion-button clear item-end>Add</button>
      </ion-item>
      <ion-item>
        <ion-thumbnail item-start>
          <img src="assets/img/img6.png">
        </ion-thumbnail>
        <h2>My Pub Food</h2>
        <p>Snacks & Meal</p>
        <button ion-button clear item-end>Add</button>
      </ion-item>
</ion-list>
</ion-content>
