<!--
  Generated template for the Settings page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar color="primary">
    <ion-title>Settings</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>
    <ion-list>
   <button ion-item>
      <ion-icon name="bulb" item-start color="primary"></ion-icon>
        About
   </button>
    <button ion-item>
      <ion-icon name="notifications" item-start color="primary"></ion-icon>
        Notification
    </button>
    <button ion-item>
      <ion-icon name="star" item-start color="primary"></ion-icon>
        Rate this App
    </button>
</ion-list>
</ion-content>
