<!--
  Generated template for the AddPupil page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar color="primary">
    <ion-title>Add Photo</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>
    <ion-grid>
          <ion-row style="margin-top: 50px;">
              <ion-col col-2></ion-col>
              <ion-col col-8 text-center>
                    <img style="border-radius: 8px;height: 150px !important;" [src]="base64Image" *ngIf="base64Image">
              </ion-col>
              <ion-col col-2></ion-col>
          </ion-row>
          <ion-row style="margin-top: 60px;">
              <ion-col col-4></ion-col>
              <ion-col col-7>
                  <button (click)="Photo()"  ion-button icon-only outline style="color: #286d2c;">
                       <ion-icon name="camera"></ion-icon>
                  </button>
                  <button (click)="Gallery()" ion-button icon-only outline style="color: #286d2c;">
                       <ion-icon name="folder"></ion-icon>
                  </button>
              </ion-col>
              <ion-col col-1></ion-col>
          </ion-row>
          <ion-row text-center style="margin-top: 20px; color: #286d2c;">
              <ion-col col-12>
                <button (click)="AddPhotoToPupilDetails()" ion-button>Add Photo</button>
              </ion-col>
          </ion-row>
</ion-grid>
</ion-content>
