<!--
  Generated template for the CatererPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar color="primary">
    <ion-title>Add Farmer</ion-title>
  </ion-navbar>

</ion-header>

<ion-content padding>
  <ion-grid>
          <ion-row style="margin-top: 50px;">
              <ion-col col-2></ion-col>
              <ion-col col-8 text-center>
                    <img style="border-radius: 8px;height: 150px !important;" [src]="base64Image" *ngIf="base64Image">
              </ion-col>
              <ion-col col-2></ion-col>
          </ion-row>
          <ion-row style="margin-top: 60px;">
              <ion-col col-4></ion-col>
              <ion-col col-6>
                  <button (click)="Photo()"  ion-button icon-only outline style="color: #286d2c;">
                       <ion-icon name="camera"></ion-icon>
                  </button>
                  <button (click)="Gallery()" ion-button icon-only outline style="color: #286d2c;">
                       <ion-icon name="folder"></ion-icon>
                  </button>
              </ion-col>
              <ion-col col-1></ion-col>
          </ion-row>
</ion-grid>
   <ion-list>
     <ion-item style="margin-top: 8px;">
        <ion-label stacked>Senatorial District</ion-label>
        <ion-select (ionChange)="DistrictChange()" [(ngModel)]="Selected.DistrictId">
          <ion-option *ngFor="let district of SenatorialList" [value]="district.id">{{district.name}}</ion-option>
        </ion-select>
      </ion-item>
      <ion-item style="margin-top: 8px;">
        <ion-label stacked>LGA</ion-label>
        <ion-select (ionChange)="LGAChange()" [(ngModel)]="Selected.LGAId">
          <ion-option *ngFor="let lga of LGAList" [value]="lga.id">{{lga.name}}</ion-option>
        </ion-select>
      </ion-item>
      <ion-item style="margin-top: 8px;">
        <ion-label stacked>Wards</ion-label>
        <ion-select (ionChange)="WardChange()" [(ngModel)]="Selected.WardId">
          <ion-option *ngFor="let ward of WardList" [value]="ward.id">{{ward.name}}</ion-option>
        </ion-select>
      </ion-item>
      <ion-item style="margin-top: 8px;">
        <ion-label stacked>Schools</ion-label>
        <ion-select (ionChange)="SchoolChange()" [(ngModel)]="Selected.SchoolId">
          <ion-option *ngFor="let school of SchoolList" [value]="school.id">{{school.name}}</ion-option>
        </ion-select>
      </ion-item>
      <ion-item>
        <ion-label stacked>Full Name</ion-label>
        <ion-input type="text" [(ngModel)]="Caterer.fullname"></ion-input>
      </ion-item>
       <ion-item>
        <ion-label stacked>Address</ion-label>
        <ion-input type="text" [(ngModel)]="Caterer.address"></ion-input>
      </ion-item>
         <ion-item>
        <ion-label stacked>Phone Number</ion-label>
        <ion-input type="tel" [(ngModel)]="Caterer.phone"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label stacked>Email</ion-label>
        <ion-input type="email" [(ngModel)]="Caterer.email"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label stacked>Date Of Birth</ion-label>
        <ion-datetime displayFormat="MM/DD/YYYY" [(ngModel)]="Caterer.dob"></ion-datetime>
      </ion-item>
      <ion-item style="margin-top: 8px;">
        <ion-label stacked>Marital Status</ion-label>
        <ion-select [(ngModel)]="Caterer.maritalstatus">
          <ion-option value="MARRIED">MARRIED</ion-option>
          <ion-option value="SINGLE">SINGLE</ion-option>
          <ion-option value="WIDOW">WIDOW</ion-option>
        </ion-select>
      </ion-item>
      <ion-item>
        <ion-label stacked>Account Number</ion-label>
        <ion-input type="text" [(ngModel)]="Caterer.accno"></ion-input>
      </ion-item>
        <ion-item>
        <ion-label stacked>Account Name</ion-label>
        <ion-input type="text" [(ngModel)]="Caterer.accname"></ion-input>
      </ion-item>
      <ion-item style="margin-top: 8px;">
        <ion-label stacked>Bank Name</ion-label>
        <ion-select [(ngModel)]="this.BankId">
          <ion-option *ngFor="let bank of Banks" [value]="bank.id">{{bank.name}}</ion-option>
        </ion-select>
      </ion-item>
      <ion-item>
        <ion-label stacked>Bank Verification Number</ion-label>
        <ion-input type="number" [(ngModel)]="Caterer.bvn"></ion-input>
      </ion-item>
        <ion-item>
        <ion-label stacked>Pupil Group</ion-label>
        <ion-input type="text" [(ngModel)]="Caterer.pupilgroup"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label stacked>Pupil Count</ion-label>
        <ion-input type="number" [(ngModel)]="PupilCount"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label stacked>Employee Count</ion-label>
        <ion-input type="number" [(ngModel)]="EmployeeCount"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label stacked>Crop Farm Occupation</ion-label>
        <ion-input type="text" [(ngModel)]="Caterer.crop_farm_occupation"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label stacked>Land Type</ion-label>
        <ion-input type="text" [(ngModel)]="Caterer.landtype"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label stacked>Land Size</ion-label>
        <ion-input type="number" [(ngModel)]="LandSize"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label stacked>Linked Cook Count</ion-label>
        <ion-input type="number" [(ngModel)]="LinkedCook"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label stacked>Previous Income</ion-label>
        <ion-input type="number" [(ngModel)]="PreviousIncome"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label stacked>Current Income</ion-label>
        <ion-input type="number" [(ngModel)]="CurrentIncome"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label stacked>Aggregator Details</ion-label>
        <ion-input type="text" [(ngModel)]="Caterer.aggregatordetails"></ion-input>
      </ion-item>
     <button ion-button block style=" margin-top: 20px;" (click)="AddCaterer()">Add</button>
  </ion-list>
</ion-content>

